body{
  background-image: url('http://localhost:8080/ecommerce/public/images/admin1.jpg');
}

h1 {
  text-align: center;
  margin: 0 10px 10px 0;
  width: 100%;
  background-image: url('http://localhost:8080/ecommerce/public/images/haeder.jpg');
  font-family: 'Tangerine', serif;
  font-size: 90px;
  padding:20px;
}
#home{
 float: left;
 padding: 5px;
 width:50px;
 height:50px;
}

#main-menu{
  font-size:30px;
  color:white;
}

#items{
  color:white;
}

p{
  color:white;
  font-size:30px;
}
