table{
   width:100%;
   align:center;
   background-color: #808080;
   border: 1px solid black;
   margin: 0;
   padding: 0;
   table-layout: fixed;
}
table td{
  padding: .625em;
  text-align: center;
  height:24px;
  width: 100%;
}
h2{
  font-size:20px;
}
#name{
 text-align:center;
 background-color:#A8C7D6;
 font-weight:bold;
 font-size:18px;
}
#info{
  background-color:#A9A9A9;
  align:center;
  font-size:16px;
  text-align:center;
  border: 1px solid #ddd;
  padding: .35em;
}

p{
  color:black;
  font-size:18px;
  font-style:italic;
}
